<div class="flexbox">
  <div class="flexitem">
    <p>div1</p>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates voluptate saepe, sapiente ea necessitatibus numquam minima, qui fugit perspiciatis adipisci optio recusandae ex dignissimos, magnam possimus, cupiditate itaque! Asperiores, magni.</p>
  </div>
  <div class="flexitem">
    <p>div 2</p>
     <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates voluptate saepe, sapiente ea necessitatibus numquam minima, qui fugit perspiciatis adipisci optio recusandae ex dignissimos, magnam possimus, cupiditate itaque! Asperiores, magni.</p>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates voluptate saepe, sapiente ea necessitatibus numquam minima, qui fugit perspiciatis adipisci optio recusandae ex dignissimos, magnam possimus, cupiditate itaque! Asperiores, magni.</p>
  </div>
</div>
