/*view structure*/

.flexbox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-style: dashed;
  border-width: 1px;
  padding: 40px;
  height: 70vh;
  margin: 20px;

}

.flexitem {
  flex: 1 0 50%;
  border-style: solid;
  border-width: 1px;
  margin: 10px;
  height: 90%;
  min-height: 100px;
  overflow: hidden;
}
